---
import Base from '../../layouts/Base.astro';
import RelatedArticles from '../../components/RelatedArticles.astro';
---
<Base
  title="РРО для интернет-магазина: как вести бизнес законно с 1 января 2022 года"
  description="Все знают, что с 2022 года физические лица-предприниматели (ФЛП) должны фиксировать расчетные операции через РРО."
  canonical="https://www.fulfillmentmtp.com.ua/blog/fiscal-register-requirements-ukraine/"
  lang="ru"
  ogType="article"
  ogImage="/images/blog/ecommerce-fiscal-register.webp"
  schema={`<script type="application/ld+json">{"@context":"https://schema.org","@type":"Article","headline":"РРО для интернет-магазина: как вести бизнес законно с 1 января 2022 года","description":"Все знают, что с 2022 года физические лица-предприниматели (ФЛП) должны фиксировать расчетные операции через РРО.","author":{"@type":"Organization","name":"MTP Group Fulfillment"},"datePublished":"2026-04-27","dateModified":"2026-04-27","image":"/images/blog/ecommerce-fiscal-register.webp","publisher":{"@type":"Organization","name":"MTP Group Fulfillment","logo":"https://www.fulfillmentmtp.com.ua/logo.webp"},"inLanguage":"ru-RU","mainEntityOfPage":{"@type":"WebPage","@id":"https://www.fulfillmentmtp.com.ua/blog/fiscal-register-requirements-ukraine/"}}</script><script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://www.fulfillmentmtp.com.ua/"},{"@type":"ListItem","position":2,"name":"Блог","item":"https://www.fulfillmentmtp.com.ua/blog/"},{"@type":"ListItem","position":3,"name":"РРО для интернет-магазина: как вести бизнес законно с 1 января 2022 года","item":"https://www.fulfillmentmtp.com.ua/blog/fiscal-register-requirements-ukraine/"}]}</script>`}
>
<Fragment slot="head">
  <link rel="alternate" hreflang="uk" href="https://www.fulfillmentmtp.com.ua/ua/blog/fiscal-register-requirements-ukraine/">
  <link rel="alternate" hreflang="ru" href="https://www.fulfillmentmtp.com.ua/blog/fiscal-register-requirements-ukraine/">
  <link rel="alternate" hreflang="en" href="https://www.fulfillmentmtp.com.ua/en/blog/post/fiscal-register-requirements-ukraine/">
  <link rel="alternate" hreflang="x-default" href="https://www.fulfillmentmtp.com.ua/ua/blog/fiscal-register-requirements-ukraine/">
  <link rel="stylesheet" href="/css/fonts.css">
</Fragment>

<article class="blog-restored">
  <div class="container">
    <header class="blog-restored__header">
      <h1>РРО для интернет-магазина: как вести бизнес законно с 1 января 2022 года</h1>
      <div class="blog-restored__meta">
        <span>📅 Квітень 2026</span>
        <span>·</span>
        <span>MTP Group Fulfillment</span>
      </div>
    </header>
    <figure class="blog-restored__hero">
      <img src="/images/blog/ecommerce-fiscal-register.webp" alt="РРО для интернет-магазина: как вести бизнес законно с 1 января 2022 года" width="1200" height="630" loading="eager" fetchpriority="high">
    </figure>
    <div class="blog-restored__body">
<p>С 1 января 2022 года предприниматели обязаны проводить все операции “через кассу”. Новый закон вызвал столько дебатов, что его обсуждают даже далекие от бизнеса люди. Компания MTP GROUP FULFILLMENT предоставляет услуги тем, кого закон касается напрямую – владельцам интернет-магазинов. Поэтому мы провели консультации с бухгалтерами и юристами, изучили законодательство и налоговые консультации, чтобы подробно и понятно ответить на все острые вопросы об РРО (регистраторах расчетных операций).</p>

<h3>Закон о РРО: хронология событий</h3>
Все знают, что с 2022 года физические лица-предприниматели (ФЛП) должны фиксировать расчетные операции через РРО. Но на самом деле это правило появилось в законодательстве еще в 2014 году. Техническое воплощение растянулось на долгие годы. Основным аргументом “против” была дороговизна кассового аппарата. И вот в 2020 году появилась техническая (а главное – юридическая) возможность использовать программные регистраторах расчетных операций (ПРРО). Но случился карантин. Бизнес несет колоссальные убытки и закон снова откладывают на неопределенный срок. Теперь “окончательной датой” называют первый день 2022 года.

<em>Конечно, можно говорить о том, что у бизнеса было целых 7 лет для внедрения в работу РРО. Но из-за нестабильности законодательства по-настоящему подготовиться к изменениям сложно. Даже при написании этой статьи мы не уверены, что закон о РРО вступит в силу. Ведь 2 декабря 2021 года в Раду внесли законопроект об отсрочке РРО до 2023 года. Комичность ситуации заключается еще и в том, что в этот же день глава налогового комитета Рады заявил, что никаких отсрочек не будет.</em>

<p>Ясно лишь то, что бизнесу надо быть готовым ко всему. Поэтому ниже мы подробно расскажем о правилах, которым (вероятно) придется следовать.</p>

<h2>Кому придется использовать РРО с 2022 года</h2>
Внедрение РРО в бизнес-процессы будет новостью не для всех ФЛП. Отдельные предприниматели играют по новым правилам с 1 января 2021 года. Речь идет о двух категория:

<ol><li>ФЛП на общей системе налогообложения;</li><li>ФЛП 2, 3 и 4 группы при выполнении одного из этих условий:</li></ol><ul><li>доход превышает 1 320 000 грн в год;</li><li>специфический вид деятельности (реализация технически сложных товаров, ювелирных украшений или лекарств).</li></ul>
В этой статье мы не говорим о ФЛП на первой группе, так как по закону они не имеют права заниматься интернет-торговлей.

<p>С 1 января 2022 года вид деятельности или размер дохода потеряет свое значение в контексте расчетных операций. Вне зависимости от этих условий, фиксирование сделки через РРО станет обязательным.</p>

<h3>Какие операции нельзя провести без РРО</h3>
Конечно, не обойдется без еще одного “НО”. Бухгалтера и юристы все еще не могут сойтись во мнении на 3 важных вопроса.

<ol><li>В каких случаях ФЛП обязан, а в каких не обязан проводить расчеты через РРО?</li><li>В какой момент нужно формировать фискальный чек и как передать его покупателю?</li><li>Какая информация должна содержаться в фискальном чеке?</li></ol>
Разберемся с каждым из них по порядку.

<h3>Проводить через РРО (не)обязательно: разбираем основные ситуации</h3>
Из всевозможных индивидуальных налоговых консультаций можно сделать вывод о том, что РРО не нужен в таких случаях:

<ul><li>расчет проходит в безналичной форме. Покупатель переводит средства со счета на счет или вносит деньги в банковскую кассу;</li><li>расчет проходит через посредников – платежные системы вроде PayPal или WebMoney. Клиент оплачивает товар посреднику, а тот уже переводит деньги на счет продавцу;</li><li>расчет за приобретение так называемых инфопродуктов: электронных книг, видео, вебинаров, онлайн-консультаций и т.д.</li></ul>
Вы уже догадались, что в большинстве ситуаций без РРО не обойтись:

<ul><li>расчет проходит в наличной форме;</li><li>клиент оплачивает товар при помощи интернет-банкинга, например, через сервис “Приват24”;</li><li>покупка оплачивается платежной картой через POS-терминал;</li><li>клиент при расчетах использует интернет-эквайринг, такой как LiqPay, Portmone, Fondy.</li></ul>
<h4>Как и когда передать покупателю фискальный чек, чтобы не нарушить закон</h4>
Одна из главных проблем украинского законодательства: зачастую оно совершенно оторвано от реальной жизни. Законодатели мыслят категориями офлайн-бизнеса, когда чек вручают покупателю вместе с товаром. А как быть с интернет-торговлей?

<p>Не возникает проблем при покупке товара через предварительную оплату. Уже сформированный фискальный чек просто кладут в посылку.</p>

<p>Если заказ доставляет курьер, он же выступает и в роли кассира. РРО в таком случае регистрируется на транспортное средство, которым осуществляется доставка.</p>

<p>А как насчет использования наложенного платежа? Здесь все интереснее. Формировать фискальный чек заранее глупо. Клиент может потребовать возврат. Кстати, подробно о теме возвратов говорили в этой статье. Вернуть деньги – не проблема, а вот доказывать налоговикам, что между вами в итоге ничего не было – страшный сон бизнесмена.</p>

<p>Налоговики утверждают, что при наложенном платеже продавец обязан положить в посылку не фискальный, а товарный чек. Тогда в совокупности с квитанцией от почтового оператора у клиента будет документ и о товаре, и о его оплате. При этом продавец не обязан проводить операцию через РРО, так как деньги на его счет поступят от оператора доставки.</p>

<h3>Содержание фискального чека: что говорит закон</h3>
К счастью, хотя бы здесь правила не строгие. Главное, чтобы название товара в чеке было достаточно понятным, чтобы идентифицировать его с покупкой.

<p>Обратим ваше внимание, что сам по себе чек от “Новой Почты” или электронная квитанция от депозитного банкомата не могут заменить фискальный чек. Последний должен подтверждать и факт оплаты, и факт передачи товара.</p>

<h3>Касса на столе или в смартфоне: плюсы и минусы разных типов РРО</h3>
Если избежать РРО не получается, стоит выбрать лучшее решение. Глобально их всего два:

<ul><li>регистратор расчетных операций (РРО) – традиционный кассовый аппарат;</li><li>программный регистратор расчетных операций (ПРРО) – программа или приложение, которое можно установить на смартфон, планшет или ноутбук.</li></ul>
Чтобы выбирать было проще, сравним преимущества и недостатки каждого варианта.

<strong>Традиционный РРО:</strong>

<ul><li>начало работы. регистрация устройства, его опломбирование и прочие бюрократические процедуры займут до недели;</li><li>цена. Одна касса обойдется от 4 000 до 20 000 грн. Добавьте к этому до 500 грн на ежемесячное обслуживание аппаратов;</li><li>обновление. При внесении в законодательство изменений РРО придется перепрошивать. А значит, тратить время и деньги;</li><li>формат чека. Вы получите только бумажные чеки, которые нужно вкладывать в посылки или иным образом отправлять покупателю;</li><li>работа в оффлайн в случае сбоя на сервере налоговиков. РРО может работать без интернета до 7 суток.</li></ul>
Может показаться, что касса – очень плохой вариант. В целом, для интернет-торговли так и есть.

<strong>Программный РРО:</strong>

<ul><li>начало работы. Процедура обычно занимает несколько дней. Предпринимателю нужно скачать приложение и зарегистрироваться в нем;</li><li>цена. Пользование программным обеспечением будет стоить 100-200 грн в месяц;</li><li>обновление. Все обновления происходят в онлайн-режиме;</li><li>формат чека. Вы можете напечатать бумажный чек либо отправить его электронную версию в СМС или на почту клиенту;</li><li>работа в оффлайн в случае сбоя на сервере налоговиков. Пока что не все разработчики предлагают опцию работы ПРРО в оффлайн-режиме. Но даже при наличии соответствующего софта срок сокращен до 36 часов.</li></ul>
С программным РРО дела обстоят гораздо лучше. Но есть одно “но” – систематические падения серверов налоговой службы из-за перегрузки. Уже сейчас ситуация повторяется несколько раз в месяц. Прогнозируем, что дальше все будет только хуже.

<p>По информации “Опендатабот” с начала 2021 года количество “касс в смартфоне” увеличилось вдвое. При этом роста количества традиционных РРО не зафиксировано. Это значит, что подавляющее большинство предпринимателей выбирает технологичные решения. Из-за новых правил количество ПРРО с 1 января 2022 года вырастет в разы, и на серверы налоговой ляжет большая нагрузка. Выдержат ли они? Покажет время.</p>

<h3>Использование РРО при работе с фулфилмент-оператором</h3>
Ситуация с РРО напоминает сюжет народных сказок. Направо пойдешь – 20 000 на кассовый аппарат потратишь. Налево пойдешь – постоянно от падений серверов страдать будешь. Но, как и в сказке, есть третий, хороший вариант. Он заключается в работе с фулфилмент-оператором.

<em>Как мы уже объясняли выше, предприниматель не обязан проводить операцию через РРО, если средства поступают с одного банковского счета на другой. Но так как работа в товарном бизнесе предполагает розничную продажу, фискализация обязательна. MTP GROUP FULFILLMENT интегрированы с онлайн-кассой Checkbox и предоставляет клиентам услугу фискализации чеков по API. Клиенту нашего фулфилмент-склада не нужно нанимать бухгалтера и вникать во все технические и рутинные процессы. Достаточно зарегистрироваться по нашей реферальной </em><a href="https://my.checkbox.ua/auth/registration?partner_ref=YxoSdCwMLD" rel="noreferrer noopener" target="_blank"><strong><em><u>ссылке</u></em></strong></a><em>, получить 10% скидки, и передать нам ключ API от сервиса CheckBox. Все остальное мы сделаем за вас.</em>

<p>И это не все возможности. Благодаря интеграции по API мы можем автоматически выполнять все операции за клиентов:</p>

<ul><li>открывать и закрывать смену;</li><li>регистрировать и отправлять чеки;</li><li>отправлять z-отчеты в налоговую.</li></ul>
О других преимуществах работы с MTP GROUP FULFILLMENT читайте в <a href="https://www.fulfillmentmtp.com.ua/tpost/2k76ljgp91-kak-vibrat-fulfilment-operatora-v-ukrain" rel="noopener noreferrer"><strong><u>этой статье</u></strong></a>.
    </div>
  </div>
  
<RelatedArticles slug="fiscal-register-requirements-ukraine" lang="ru" />

</article>
</Base>

<style is:global>
.blog-restored {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 24px 60px;
  font-family: 'DM Sans', system-ui, sans-serif;
  color: #1a1a1a;
}
.blog-restored__header { margin-bottom: 40px; text-align: center; }
.blog-restored h1 {
  font-family: 'DM Serif Display', serif;
  font-size: clamp(28px, 5vw, 42px);
  line-height: 1.2;
  margin: 0 0 16px;
  font-weight: 700;
  color: #000;
}
.blog-restored__meta {
  font-size: 14px;
  color: #666;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.blog-restored__hero { margin: 0 -24px 40px; }
.blog-restored__hero img {
  width: 100%;
  height: auto;
  max-height: 480px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}
.blog-restored__body { font-size: 17px; line-height: 1.75; }
.blog-restored__body h2,
.blog-restored__body h3 {
  font-family: 'DM Serif Display', serif;
  margin: 40px 0 16px;
  color: #000;
}
.blog-restored__body h2 { font-size: 28px; }
.blog-restored__body h3 { font-size: 22px; }
.blog-restored__body p { margin: 0 0 20px; }
.blog-restored__body ul,
.blog-restored__body ol { margin: 0 0 20px; padding-left: 24px; }
.blog-restored__body li { margin-bottom: 8px; }
.blog-restored__body a { color: #e63329; text-decoration: underline; }
.blog-restored__body a:hover { text-decoration: none; }
.blog-restored__body em { font-style: italic; color: #444; }
.blog-restored__body strong { font-weight: 700; }
@media (max-width: 768px) {
  .blog-restored { padding: 60px 20px 40px; }
  .blog-restored__hero { margin: 0 -20px 32px; }
  .blog-restored__hero img { border-radius: 0; }
}
</style>